@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');




* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  scroll-behavior: smooth;
  background: #FFFFFF;
}

.header {  
  background: #222222;


}
.pink_back{
  background:#F1E4E6;

}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 859px;
  max-height: 75px;
 

}
.container {
  max-width: 1600px;
  margin: 0 auto;
}

.picture_man img {

  max-width: 100%;

}
.header button {

	border: medium none;
	
	background: transparent;
  cursor: pointer;
}
.left {
display: flex;
gap:41px;
padding: 18px 0px;
align-items: flex-end;
padding-left: 231px;
}
.right{
display: flex;
justify-content: space-between;
align-items:center;
min-width: 169px;


gap: 33px;
padding-right: 240px;


}
.basket {position: relative;}
.basket_count{
  width: 19px;
  height: 19px;
  font-family: "Lato", normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F16D7F;
 
  border-radius: 50%; 

  position: absolute;
  top: -7px;
  right: -7px;

}



.picture_man{

  display: flex;

}





  .pink_line{
 
border-left: 12px solid #F16D7F;
padding-left: 16px;
margin: 290px 0 381px 0;
margin-left: 63.42px;
}
.text{
margin: 290px 0 381px 0;
display: flex;
flex-wrap:wrap ;
  
}

h1{
  
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #222222;
  font-size: 48px;


  
}
h2{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #222222;
  font-size: 32px;




}
.fashion{
color: #F16D7F;




}

.logos {
  width: 1140px;
  gap:30px;


  margin: 65px auto 96px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  }
.logos img {
  background-color: #211616B2;
position: relative;}




.picture_text h1{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 16px;
  width: 100%;


}
.picture_text span{

  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #F16D7F;
  font-size: 24px;


}

.picture_text {

position: relative;}

.cardList {
  width: 1140px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;

  margin: 48px auto 48px auto;


}

.shop h1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #222222;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  justify-content: center;
  margin-bottom: 6px;

}
.shop h3 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #9F9F9F;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;


}

.card h2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  line-height: 16px;


}
.card p {
  font-family: "Lato";
  font-weight: 300;
  color: #5D5D5D;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  line-height: normal;
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;

}
.card {
  position: relative;

  width: 360px;
  height: 587px;
  background-color:#F8F8F8;
  display: flex;
  flex-direction: column-reverse;




}
/* .dark {height: 420px;
  width: 360px;
  opacity: 100%;
}





.dark:hover {
height: 420px;
width: 360px;
opacity: 30%;


} */

.card h4{

  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #F16D7F;
  font-size: 16px;
  line-height: 19px;
}
.info {
width: 314.74px;
padding: 24px 16px;

}

.btn_pink{


cursor: pointer;
width: 212px;
height: 48px;

font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #F26376;
  font-size: 16px;
  line-height: 19px;
border: 1px solid #FF6A6A;background-color: #FFF;
color: #F26376;
cursor: pointer;}
.btn{
  display: flex;
justify-content: center;
padding-bottom: 60px;
}
.btn_pink:hover {
  background-color: #F16D7F;
  color: #FFFFFF;



}

.black_section {
background: #222224; 
  height:341px;
 

}
.bonus { 
  height: 341px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  align-items: center;
justify-content: space-around;
  gap:30px;


}
.box {
  height: 134px;
  width: 360px;
  display: flex;
  flex-direction: column;
justify-content: space-between;
align-items: center;


}
.box h1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #FBFBFB;
  font-size:19.96px;
  line-height: 23.95px;


}
.box p {
  font-family: "Lato", normal;
  font-weight: 400;
  color: #FBFBFB;
  font-size:13.97px;




}
.box img {
justify-content: baseline;
}

.white_section {
  background-image: url(img/photo\ subscribe.png);
  background-size: cover;
  background-color: #F4F4F4B2;
  height: 448px;
  background-repeat: no-repeat;


}
.rew_sub {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 448px;
  gap:223px;
  display: flex;
  justify-content: space-around;


}
.review {
  height: 134px;
  width: 360px;
  display: flex;
  flex-direction: column;
padding-top: 97px;


}
.review p {
  font-family: "Lato", normal;
  font-weight: 400;
color: #222224;
  font-size:20px;
  line-height: 24px;
  text-align: center;
  padding-top: 30px;
}
.review span {

  font-style: italic;


}
.subscribe {
  width: 557px;

  display: flex;
  flex-direction: column;
  padding-top: 150px;
  align-items: center;



}
.subscribe h3 {
  font-family: "Lato", normal;
  font-weight: 700;
color: #222224;
  font-size:24px;
  text-align: center;
  line-height: 40.13px;

}
.subscribe h4 {
  font-family: "Lato", normal;
  font-weight: 400;
  color: #222224;
  font-size:18px;
  text-align: center;
  line-height: 30.1px;
  padding-bottom: 32px;

  }
  .email {
    width: 256px;
    height: 49px;
  border-radius: 23px 0 0 23px;
  border: none;
  padding-left: 22px;

  background-color: #E1E1E1;
  font-family: "Lato", normal;
  font-weight: 400;
color: #222224;
  font-size:14px;



  }
.form {display: flex;
}
.sub{
  width: 100px;

border-radius: 0 23px 23px 0;
border: none;

background-color: #F16D7F;
font-family: "Lato", normal;
font-weight: 400;
color: #FFFFFF;
text-align: center;
font-size:14px;

}
footer {background: #222224;
 }

.foot {
  height: 79px;

display: flex;
align-items: center;
justify-content: space-between;
}
.text_foot {
  font-family: "Lato", normal;
  font-weight: 400;
  color: #FBFBFB;
  font-size:16px;

  line-height: 19px;
  padding-left: 235px;



}
.link {
gap:7.3px;
padding-right: 230.34px;
display: flex;
align-items: center;
}
.poz_img {position: absolute;
top: 0;}

.image_dark {
  display: flex;
  position: absolute;
 background-color:  #3A3838DB;
  
  height: 420px;
  width: 360px;
  top: 0;
  opacity: 0;
 
  
  
  }
 
  
  
  .addbutton {
    position: absolute;
    display: flex;
    align-items: center;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3A3838DB;
    color: #FFFFFF;
    padding: 10px 20px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    font-family: "Lato", normal;
    font-weight: 400;
    font-size:14px;
    
 
    
  }
  .add_img {
    display: flex;
  padding-right:11px;
  align-items: center;
  }

  .image_dark:hover{
opacity: 1;
  
  }

  .link button {
  
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;

	border: medium none;
	

  cursor: pointer;  
}

.pink_btn:hover {
  background-color:#F16D7F;}

.pink_btn:hover svg{
   fill:#FFFFFF}







@media(min-width: 768px) and (max-width:1600px){


  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    gap: 424px;
    max-height: 74px;
   
  
  }
  .container {
    max-width: 768px;
 
  }
  
  .picture_man img {
  
    max-width: 368px;
    max-height: 368px;
  
  }

  .left {
  display: flex;
  align-items: flex-end;
  padding-left: 32px;
  }
  .right{
  display: flex;
  justify-content: space-between;
  align-items:center;
  min-width: 159px;
  
  gap: 25px;
  padding-right: 41.01px;
  
  
  }
  .basket{
  padding-left: 17px;
  max-width: 32px;
  }
  

    .pink_line{
   

  padding-left: 16px;
  max-height: 92px;
  margin: 138px 0 137.57px 0;
  margin-left: 39px;

  }
  .text{
    margin: 138.1px 0 151.47px 0;

  }
  
  h1{
    

    font-size: 44px;
 
  
  
    
  }
  h2{

    font-size: 24px;
 
  }
  
  .logos {
    width: 736px;
    gap:19px;
    margin: 65px auto 110px auto;

       }
       .women {
      max-width: 231.97px;
      max-height: 167.62px;
      }
.man {
max-width: 232.04px;
max-height: 167.62px;}
.kids {
  max-width: 232.89px;
  max-height: 167px;
}

.acs {
  max-width: 734.58px;
  max-height: 116.09px;
}

  
  .cardList {
    width: 736px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
  
    margin: 72.74px auto 32.48px auto;
  
  
  }

  .shop h1 {

    margin-bottom: 3.3px;
  
  }

  

  .card p {

    padding-top: 12.65px;
    padding-bottom: 18px;
  
  }
  .card {
  
   
    height: 581px;

  
  }

  .info {

  padding: 24px 16px;
  
  }
  

  .btn{

  padding-bottom: 70.52px;
  }
/**/


.black_section {
 
    height:610px;
   
  
  }
  .bonus { 
    height: 497.84px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  
    gap:48.47px;
 padding-top: 48.16px;
 padding-bottom: 64px;
  
  
  }



  .white_section {
  

    height: 693px;
    
  
  }
  .rew_sub {
    gap: 50px;
  

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

   
  
  }
  .subscribe{
    padding-top: 0;
    padding-right: 0;





  }
  .review {
    padding-top: 64px;
    height: 225px;
    width: 360px;


  
  }


  .subscribe h4 {
  
    padding-bottom: 27px; }
  



 

  

  .text_foot {
 
    padding-left: 32px;
  
  
  
  }
  .link {

  padding-right: 32.34px;

  }
  
  

}

@media(max-width:767px){
  .container {
    max-width: 375px;
  
  }
  .delete {
  display: none;}

  .navigation {
    gap: 200px;
  }
  
  
  .picture_man img {
  
  display: none;
  
  }

  .left {

  padding-left: 16px;
  }
  .right{
  min-width: 32px;

  padding-right: 16px;
  
  
  }

    .pink_line{
   

  padding-left: 15px;
  max-height: 61px;
  margin: 150px 0 152px 0;
  margin-left: 56px;

  }
  .text{
    margin: 148px 0 149px 0;
    max-height: 66px;

  }
  
  h1{
    

    font-size: 38px;

 
  
  
    
  }
  h2{

    font-size: 20px;
   
 
  }
  
  .logos {
    width: 375px;
    gap:32px;
    margin: 64px auto 64px auto;

       }

.women {
      max-width: 343px;
      max-height: 247px;
      }
.man {
max-width: 344px;
max-height: 249px;}
.kids {
  max-width: 343px;
  max-height: 248px;
}

.acs {
  max-width: 343.26px;
  height: 111px;
 
}
.acs img {
  background-position: center;
  object-fit: cover;
}

.card {

  width: 359px;
  height: 579.39px;
  background-color:#F8F8F8;

}

  
  .cardList {
    width: 375px;
    grid-template-columns: 1fr;
    justify-items: center;
    gap:16px;

  
    margin: 64.7px auto 40.61px auto;

  
  }




  .btn{

  padding-bottom: 85px;
  }







  .black_section {
 
    height:610px;
   
  
  }
  .bonus { 
    height: 497.84px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  
    gap:46.83px;
 padding-top: 48.16px;
 padding-bottom: 81px;
  
  
  }



  .white_section {
  

    height: 550px;
    
  
  }
  .rew_sub {
    gap: 59px;
  

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

   
  
  }
  .subscribe{
    padding-top: 0;
    padding-right: 0;





  }
  .review {
    padding-top: 64px;
    height: 194px;
    width: 343px;


  
  }


  .subscribe h4 {
  
    padding-bottom: 22.15px; }
  



 

  

  .text_foot {
 
    padding-left: 0;
  
  
  
  }
  .link {

  padding-right: 0px;
  padding-top: 43px;

  }
.foot{
height: 143px;
display: flex;
flex-wrap: wrap;
justify-content: center; 
align-items: end 9px;
}

.text_foot {order: 2;}
  




}